<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :jump %>
    <%= f.text_area :jump, :class => 'fixed-width' %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :class => 'fixed-width' %>
  </div>
  <div class="clearfix">
    <div class="actions">
      <% if @blog_post.new_record? %>
        <%= f.hidden_field :published, :value => false %>
        <%= f.submit 'Save Draft', :class => 'small radius action button' %>
      <% else %>
        <%= link_to 'Cancel', @blog_post, :class => 'small radius cancel button' %>
        <%= f.submit 'Publish', :class => 'small radius button' %>
      <% end %>
    </div>
  </div>
<% end %>
