<div class="content-full">
  <h1>Blog Posts</h1>
  <% @blog_posts.each do |blog_post| %>
    <div class="blog-post">
      <dl class="sub-nav right">
        <dd><%= link_to 'Show', blog_post %></dd>
        <dd><%= link_to 'Edit', edit_blog_post_path(blog_post) %></dd>
        <dd><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
      </dl>      
      <h2 class="title">
        <%= blog_post.title %>
      </h2>
      <p class="content">
        <%= blog_post.content%>
      </p>
    </div>
  <% end %>  
</div>


<%= link_to 'New Blog post', new_blog_post_path %>
