<div class="content-main blog-post">
  <h1 class="title">
    <%= @blog_post.title %>
  </h1>
  
  <%= form_for(@blog_post) do |f| %>
    <%= f.hidden_field :published, :value => !@blog_post.published %>
    <p class="date">
      <% if @blog_post.published %>
        Posted <%= prettydate(@blog_post.created_at) %>
      <% else %>
        Draft
      <% end %>

      <% if can? :update, @blog_post %>
        &middot; <%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
        &middot; <%= f.submit @blog_post.published ? 'Unpublish' : 'Publish', :class => 'small radius button' %>
      <% end %>
    </p>
  <% end %>

  <div class="jump">
    <%= markdown(@blog_post.jump) %>
  </div>
  
  <div class="body">
    <%= markdown(@blog_post.body) %>
  </div>
</div>
