<div class="content-main blog-post">
  <h1 class="title">
    <%= @blog_post.title %>
  </h1>

  <p class="date">
    Posted <%= prettydate(@blog_post.created_at) %>
  </p>
  
  <div class="content">
    <%= markdown(@blog_post.content) %>
  </div>

  <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
  <%= link_to 'Back', blog_posts_path %>
</div>
