<div class="content-full blog-post">
  <p id="notice"><%= notice %></p>

  <h1 class="title">
    <%= @blog_post.title %>
  </h1>

  <p class="content">
    <%= @blog_post.content %>
  </p>

  <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
  <%= link_to 'Back', blog_posts_path %>
</div>
