<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "jbrunton.com" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>    
    <%= csrf_meta_tags %>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    
    <script type="text/javascript">
      $(function() {
        $("pre code").addClass("prettyprint linenums");
        prettyPrint();
      });
    </script>
  </head>

  <body>
    
    <% if request.host != 'jbrunton.com' %>
      <div data-alert class="alert-box info radius">
        This is a development or staging environment.  Please go to
        <%= link_to('jbrunton.com', "#{request.protocol}jbrunton.com#{request.original_fullpath}") %>
        for a more robust experience.
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    
    <%= render 'shared/menu' %>
        
    <% if flash[:alert] %>
      <div data-alert class="alert-box alert radius">
        <%= flash[:alert] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    
    <% if flash[:notice] %>
      <div data-alert class="alert-box info radius">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>